<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Ajout des Plats</title>
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header" th:if="${mode=='new'}"> Ajout des Plats </div>
			<div class="card-header" th:if="${mode=='edit'}">Modification des Plats </div>
			<div class="card-body">
				<form th:action="@{savePlat}" method="post">
					<input hidden name="page" class="form-control" th:value="${page}" />
					<input hidden name="size" class="form-control" th:value="${size}" />
					<div class="form-group">
						<label class="control-label" hidden>ID Plat :</label>
						<input type="hidden" name="idPlat" class="form-control" th:value="${plat.idPlat}" />
					</div>
					<div class="form-group">
						<label class="control-label">Nom Plat :</label>
						<input type="text" name="nomPlat" class="form-control" th:value="${plat.nomPlat}" />
						<span th:errors=${plat.nomPlat} class="text-danger"> </span>

					</div>
					<div class="form-group">
						<label class="control-label">Prix Plat :</label>
						<input type="text" name="prixPlat" class="form-control" th:value="${plat.prixPlat}" />
						<span th:errors=${plat.prixPlat} class=" text-danger"> </span>

					</div>
					<div class="form-group">
						<label class="control-label">date création :</label>
						<input type="date" name="dateCreation" class="form-control" th:value="${plat.dateCreation}" />
						<span th:errors=${plat.dateCreation} class="text-danger"> </span>


					</div>
					<div class="form-group">
						<label class="control-label">Style :</label>
						<select name="style" class="form-control" th:value="${plat.style.idStyle}"
							th:if="${!#strings.isEmpty(plat.style)}">
							<option th:each="c:${styles}" th:if="${mode=='edit'}" th:value="${c.idStyle}"
								th:text="${c.nomStyle}" th:selected="${ c.idStyle==plat.style.idStyle}">
							</option>
						</select>
						<!-- s'il s'agit d'un ajout (mode==new) ou d'une modification d'un produit ayant une catégorie null -->
						<select name="style" class="form-control" th:if="${#strings.isEmpty(plat.style)}">
							<option th:each="c:${styles}" th:value="${c.idStyle}" th:text="${c.nomStyle}">
							</option>
						</select>
					</div>



					<div>
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>