<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Plats</title>
</head>

<body>
	<div th:replace="template"></div>

	<div class="container mt-5">
		<div class="card">
			<div class="card-header">
				Liste des Plats
			</div>
			<div class="card-body">

				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nom Plat</th>
						<th>Prix</th>
						<th>date </th>
						<th>Style Plat</th>
						

					</tr>
					<tr th:each="p:${plats.content}">
						<td th:text="${p.idPlat}"></td>
						<td th:text="${p.nomPlat}"></td>

						<td th:text="${p.prixPlat}"></td>
						<td th:text="${p.dateCreation}"></td>
						<td th:if="${!#strings.isEmpty(p.style)}" th:text="${p.style.nomStyle}"></td>
						<td th:if="${#strings.isEmpty(p.style)}" th:text="${'Pas de Style pour ce plat'}"></td>

						<td><a class="btn btn-success" th:href="@{modifierPlat(id=${p.idPlat}, page=${currentPage},size=${size})}">Editer</a></td>

						<td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"
								th:href="@{supprimerPlat(id=${p.idPlat}, page=${currentPage},size=${size})}">Supprimer</a>
						</td>

					</tr>
					</tr>
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}">
						<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
							th:href="@{ listePlats(page=${status.index}, size=${size} ) }"
							th:text="${status.index }"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>